
/* .pagination{
    position: absolute;
    left: 70px;
    bottom: 20px;
} */
.searching{
    display: flex;
    justify-content: flex-end;
}
.hafday {
	cursor: pointer;
	text-indent: -9999px;
    width: 45px;
    height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.hafday:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
    height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #3BB77E;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.hafday:active:after {
	width: 130px;
}

