<div class="main-box">
    <!-- <div class="top-header">
     <div class="container">
         <div class="col-md-6">
             <div class="logo">
                 <img src="assets/images/hajri-logo.jpeg" alt="logo-large" class="logo-lg logo-dark" style="width:115px;">
             </div>
         </div>
         <div class="col-md-6">
 
         </div>
     </div>
    </div> -->
    <div class="topbar navbar-custom" style="position: fixed;">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="logo">
                    <img src="assets/images/hajri-logo.jpeg" alt="logo-large" class="logo-lg logo-dark" style="width: 115px;" />
                </div>
            </div>
            <div class="col-md-6">
                <nav id=" d-flex justify-content-between" class="navbar-custom">
                    <ul class="list-unstyled topbar-nav float-end mb-0">
                        
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" class="nav-link dropdown-toggle nav-user">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/user.png" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                                    <div>
                                        <small class="d-none d-md-block font-11">Admin</small><span class="d-none d-md-block fw-semibold font-12">Yogesh Yadav <i class="mdi mdi-chevron-down"></i></span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="pages-profile.html" class="dropdown-item"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                                <a href="crypto-settings.html" class="dropdown-item"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a href="auth-login.html" class="dropdown-item"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-unstyled topbar-nav mb-0"></ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <div class="onboarding-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="ondoarding-accodian" style="padding-top: 50px;">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="card payment-box">
                                    <div class="card-body">
                                        <h4>Basic</h4>
                                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                                        <h3 class="price pt-2">$3 / <span class="month">Month</span></h3>
                                        <div class="includes pb-3 pt-2">
                                            <h5 class="pb-2">Includes</h5>
                                            <ul>
                                                <li><i class="bi bi-check2"></i> 200 SMS</li>
                                                <li><i class="bi bi-check2"></i> 1 Employee</li>
                                                <li><i class="bi bi-check2"></i> 1 Store</li>
                                                <li><i class="bi bi-check2"></i> 50 Catalogue Manager</li>
                                            </ul>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn plan-current" type="button">Current Plan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card payment-box">
                                    <div class="card-body">
                                        <h4>Advanced</h4>
                                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                                        <h3 class="price pt-2">$6 / <span class="month">Month</span></h3>
                                        <div class="includes pb-3 pt-2">
                                            <h5 class="pb-2">Includes</h5>
                                            <ul>
                                                <li><i class="bi bi-check2"></i> 200 SMS</li>
                                                <li><i class="bi bi-check2"></i> 1 Employee</li>
                                                <li><i class="bi bi-check2"></i> 1 Store</li>
                                                <li><i class="bi bi-check2"></i> 50 Catalogue Manager</li>
                                            </ul>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn plan-enable" type="button" data-bs-toggle="modal" #loaderPopup data-bs-target="#loader">Enable This Plan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sidebar-div">
                    <div class="sidebar pt-4">
                        <div class="tracking-body">
                            <ul class="tracking-steps">
                                <li class="tracking-item">
                                    <div class="d-flex new-stap">
                                        <div class="tracing-icon active">
                                            <i class="bi bi-check2"></i>
                                        </div>
                                        <div class="tracking-data">
                                            <p>Business Information</p>
                                            <div>
                                                <span>
                                                    On 30-20-2023
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tracking-item">
                                    <div class="d-flex align-items-center new-stap">
                                        <div class="tracing-icon active">
                                            <i class="bi bi-check2"></i>
                                        </div>
                                        <div class="tracking-data">
                                            <p>Shift Timings</p>
                                            <div>
                                                <span>
                                                    On 20-02-2023
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tracking-item">
                                    <div class="d-flex new-stap">
                                        <div class="tracing-icon">
                                            3
                                        </div>
                                        <div class="tracking-data">
                                            <p>Daily Questions</p>
                                            <div>
                                                <span>
                                                    On 28-03-2023
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="tracking-item">
                                    <div class="d-flex new-stap">
                                        <div class="tracing-icon">
                                            4
                                        </div>
                                        <div class="tracking-data">
                                            <p>Leaves Setting</p>
                                            <div>
                                                <span>
                                                    On 20-05-2023
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!-- <li class="tracking-item" >
                             <div class="d-flex new-stap">
                             <div class="tracing-icon">
                                 5
                             </div>
                             <div class="tracking-data">
                                 <p>Delivered</p>
                                 <div>
                                     <span>
                                         On 
                                     </span>
                                 </div>
                             </div>
                             </div>
                         </li> -->
                            </ul>

                            <!-- <div class="contact-box">
                         <h4>Contact Us</h4>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                     </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade p-0" id="loader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog1 modal-dialog m-0 p-0" role="document">
        <!-- custom-modal-content -->
        <div class="custom-modal-content">
            <div class="modal-body">
                <div class="store-loader">
                    <div id="demo" class="carousel slide">
                        <div class="store-loader-inner">
                            <img src="assets/images/LODING.gif" alt="Setting Up Information" />
                            <h3 style="margin-bottom: 0px; margin-top: 0px; font-size: 18px;">Setting Up Your Store</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
