<app-header></app-header>


<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/dynamic/dashboard">Deshboard</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-items active">/</li>
                                <li class="breadcrumb-items active">Timetable</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Timetable</h4>
                    </div>
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-3">
        
    
    </div><!--end col-->

    <div class="col-lg-9d">


        <div class=" d-flex align-items-center justify-content-end">
            <div class="filter">
                <input class="form-control col-md-3"
                        type="text"
                        id="dateRange"
                        autocomplete="off"
                        class="form-control"
                        ngxDaterangepickerMd
                        [locale]="{ applyLabel: 'Apply', format: 'DD-MM-YYYY' }"
                        [(ngModel)]="selected"
                        name="daterange"
                        (ngModelChange)="dateRangeFilter($event)"
                        placeholder="Select date range"
                        /> 
                <div>
                    <select class="form-control" id="idDiscount" data-choices="" data-choices-search-false="" data-choices-removeitem="">
                        <option>Project Wise Attendance</option>
                        <option value="all">Kernai</option>
                        <option value="all">1PYQ</option>
                        <option value="all">Owm</option>
                        <option value="all">credily</option>
                        <option value="all">SBM</option>
                    </select>
                </div>
               
                <div>
                    <input type="date" class="form-control">
                </div>
              
                <div>
                    <button type="button" class="btn btn-primary btn-sm">Export</button>     
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="timetable-box table-responsive">
                    <!-- <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h4>1 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>2 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>3 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>4 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>5 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>6 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>7 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>8 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>9 August</h4>
                                    <p>Monday</p>
                                </th>
                                <th>
                                    <h4>10 August</h4>
                                    <p>Monday</p>
                                </th>

                            </tr>
                        </thead>
                    </table> -->

                    <table class="table table-bordered time-table-list">
                        <thead>
                          <tr  *ngFor="let entry of myAttendanceData | keyvalue">
                            <th scope="col" class="css-8mp9q7">
                                <h5>Date</h5>
                            </th>
                            <th scope="col" class="css-4jt3ln"  *ngFor="let attendance of entry.value">
                                <h5>{{attendance.createdDate | dateFormat}}</h5>
                                <p class="mb-0">{{attendance.createdDay}}</p>
                            </th>
                            
                            <th scope="col" class="css-1j0jct9">
                                <div class="border-left">
                                <h5>Total</h5>
                                </div>
                            </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let entry of myAttendanceData | keyvalue">
                            <th scope="row" class="css-8mp9q7">
                                <div >
                                    <h5 class="d-flex align-items-center justify-content-center" style="gap:10px;"> 
                                        <span class="first-name">{{ entry.key[0] }}</span>
                                        <span>{{ entry.key }}</span>
                                    </h5>
                                </div>
                            </th>
                            <td *ngFor="let attendance of entry.value">
                                <div *ngIf="attendance.checkInTime !== null">
                                  <p><i class="bi bi-box-arrow-in-right mr-2 today-in"></i> {{ attendance.checkInTime | timeFormat}}</p>
                                  <p><i class="bi bi-box-arrow-left mr-2"></i> {{ attendance.checkOutTime | timeFormat}}</p>
                                  <p><i class="bi bi-stopwatch mr-2"></i> {{ attendance.duration | durationFormat }}</p>
                                </div>
                                <div *ngIf="attendance.checkInTime === null">
                                  <p><i class="bi bi-calendar-check-fill absent"></i> Absent</p>
                                </div>
                              </td>
                              
                            
                          </tr>
                         
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
     
                        
    </div><!--end col-->
</div>

</div>
</div>
</div>