<div class="login-main-box">
    <div class="d-flex " style="height: 100vh; background-color: #fff;">
        <div class="" style="flex-basis: 50%; display: flex; align-items: center; justify-content: center;;">
            <div class="login-detail">
                <img src="assets/images/hajri-logo.jpeg" style="width:115px; margin-bottom: 10px;"> 
                <h2>Welcome back</h2>
                <p>Welcome back! Please enter your details</p>

                <div class="mt-5">

                <div class="">
                    <a href=""><img src="assets/images/slack-new.svg" style="width:30px; margin-right:6px"> Sign in with <b> Slack </b></a>
                </div>
                <div style="position:relative"><hr style="width:380px;height:1px;margin-top:24px;margin-bottom:24px;border:0;background-color:#D9D9D9"><span style="position:absolute;top:calc(50% - 12px);left:calc(50% - 23px);width:46px;font-weight:500;font-size:14px;text-align:center;background-color:#fff;color:#A4A4A4">Or</span></div>

                <div class="">
                    <a href=""><img src="assets/images/pngwing.com.png" style="width:28px; margin-right:6px"> Sign in with <b> Whatsapp </b></a>
                </div>
            </div>
            </div>
        </div>
        <div class="login-iamge" style="background-color: #f8f8f8; flex-basis: 50%; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <div class="">
                <img src="assets/images/login.png" style="width:400px">

                <h4>Hajari Coming soon!</h4>
            </div>
        </div>
    </div>
</div>