input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.hafday {
	cursor: pointer;
	text-indent: -9999px;
    width: 45px;
    height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.hafday:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
    height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #23b930;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.hafday:active:after {
	width: 130px;
}

.form-select {
    display: block;
    height: 45px;
    width: 100%;
    
}

textarea.form-control {
    min-height: 100px;
}

.daily-questionnaire-question {
    border: 1px solid #444;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.daily-questionnaire-question p{
    font-size: 13px;
    columns: #444;
    margin-bottom: 0px;
}

.daily-questionnaire-question i{   
     font-size: 16px;
    color: red;
}

.new-qustion{
    color: cornflowerblue;
}

.new-qustion i{
    font-size: 25px;
}

.text-right-save-btn{
    float: right;
}

.deltrash {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background-color: #fcf1f1;
    border: 1px solid #eb5050;
    color: #eb5050;
    font-size: 12px;
    border-radius: 6px;
}

.editdata {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background-color: #eef1ff;
    border: 1px solid #4660f6;
    color: #4660f6;
    font-size: 12px;
    border-radius: 6px;
    margin-right: 10px;
}
