<app-header></app-header>

<app-topbar></app-topbar>

<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
             <!-- Page-Title -->
             <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/dynamic/dashboard">Dashboard</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-items active">/</li>
                                <li class="breadcrumb-items active">Leave Manager</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Leave Manager</h4>
                    </div>
                </div><!--end col-->
            </div>


            <div class="row">
               <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-1 fw-semibold">Sick Leave</p>
                                <h4 class="font-22 fw-bold">10</h4>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="bg-light-alt d-flex justify-content-center align-items-center thumb-md  rounded-circle">
                                    <i data-feather="layers" class="align-self-center text-muted icon-sm"></i>  
                                </div>
                            </div>
                        </div>
                    </div><!--end card-body--> 
                </div><!--end card--> 
               </div>
               <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-1 fw-semibold">Paid Leave</p>
                                <h4 class="font-22 fw-bold">10</h4>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="bg-light-alt d-flex justify-content-center align-items-center thumb-md  rounded-circle">
                                    <i data-feather="layers" class="align-self-center text-muted icon-sm"></i>  
                                </div>
                            </div>
                        </div>
                    </div><!--end card-body--> 
                </div><!--end card--> 
               </div>
               <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-1 fw-semibold">Casual Leave</p>
                                <h4 class="font-22 fw-bold">10</h4>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="bg-light-alt d-flex justify-content-center align-items-center thumb-md  rounded-circle">
                                    <i data-feather="layers" class="align-self-center text-muted icon-sm"></i>  
                                </div>
                            </div>
                        </div>
                    </div><!--end card-body--> 
                </div><!--end card--> 
               </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="align-items-center justify-content-between d-flex">
                                <div class="">                      
                                    <span class="card-title">Leaves History</span>                      
                                </div><!--end col--> 
                                <div class="">
                                    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply for leave</button>
                                </div>                                       
                            </div>  <!--end row-->                                  
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive browser_users">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="border-top-0">Category</th>
                                            <th class="border-top-0">Type</th>
                                            <th class="border-top-0 text-center">Quota</th>
                                            <th class="border-top-0 text-center">Taken</th>
                                            <th class="border-top-0 text-center">Upcoming</th>
                                            <th class="border-top-0 text-center">Pending</th>
                                            <th class="border-top-0 text-center">Remaining</th>

                                        </tr><!--end tr-->
                                    </thead>
                                    <tbody>
                                        <tr>  
                                            <td>Sick Leave</td> 
                                            <td> <span class="badge badge-soft-success">Paid</span></td>                                   
                                            <td class="text-center"> 8</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">8</td>
                                        </tr><!--end tr-->     
                                        <tr>                                                        
                                            <td>Casual Leave</td>                                   
                                            <td> <span class="badge badge-soft-success">Paid</span></td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                        </tr><!--end tr-->    
                                        <tr>                                                        
                                            <td>Annual Leave</td>                                   
                                            <td> <span class="badge badge-soft-success">Paid</span></td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                        </tr><!--end tr-->    
                                                                  
                                    </tbody>
                                </table> <!--end table-->                                               
                            </div><!--end /div--> 
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                   
                </div> <!--end col--> 
                
                
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="align-items-center justify-content-between d-flex">
                                <div class="">                      
                                    <span class="card-title">Daily Questionnaire Settings</span>                      
                                </div><!--end col--> 
                                                                   
                            </div>  <!--end row-->                                  
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="">
                                <p>Enable Mandatory Daily Questionnaire</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                       <p class="mb-3">Get Daily Notes at Check-in</p>
                                    </div>
                                    <div>
                                        <div class="">

                                            <input type="checkbox" id="switch" class="d-none"/>
                                            <label for="switch" class="hafday">Toggle</label>
                                        </div>
                        
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                       <p class="mb-3">Get Daily Notes at Check-out</p>
                                    </div>
                                    <div>
                                        <div class="">

                                            <input type="checkbox" id="switch" class="d-none"/>
                                            <label for="switch" class="hafday">Toggle</label>
                                        </div>
                                   
                        
                        
                                    </div>
                                </div>
                            </div>

                            <div class="daily-questionnaire mt-3">
                              <div class="d-flex daily-questionnaire-question justify-content-between">
                                <p>What have you worked on since your last standup?</p>
                                <div class="">
                                    <i class="bi bi-trash menu-icon"></i>
                                </div>
                              </div>
                              <div class="d-flex daily-questionnaire-question justify-content-between">
                                <p>What is on your agenda next?</p>
                                <div class="">
                                    <i class="bi bi-trash menu-icon"></i>
                                </div>
                              </div>
                              <div class="d-flex daily-questionnaire-question justify-content-between">
                                <p>Are you facing any blockers? </p>
                                <div class="">
                                    <i class="bi bi-trash menu-icon"></i>
                                </div>
                              </div>
                              <div class="d-flex daily-questionnaire-question justify-content-between">
                                <p>What are you blocked on?</p>
                                <div class="">
                                    <i class="bi bi-trash menu-icon"></i>
                                </div>
                              </div>
                              <div>
                                <a href="" class="new-qustion"><i class="bi bi-plus"></i> Add New Qustion</a>
                              </div>
                              <div class="text-right-save-btn">
                                <button type="button" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                   
                </div> <!--end col--> 
                
                
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="align-items-center justify-content-between d-flex">
                                <div class="">                      
                                    <span class="card-title">Leave Settings</span>                      
                                </div><!--end col--> 
                                                                   
                            </div>  <!--end row-->                                  
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="">
                                    <p class="mb-0">Leave Types:</p>
                                </div>
                                <div class="">
                                    <a href="" class="new-qustion" data-bs-toggle="modal" data-bs-target="#requestleave"><i class="bi bi-plus"></i> Add New Leave</a>
                                </div>
                            </div>

                            <div class="">
                                <div class="table-responsive browser_users">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="border-top-0" style="width:20%;">Type</th>
                                                <th class="border-top-0" style="width:5%;">Paid/Unpaid</th>
                                                <th class="border-top-0 text-center">Quota</th>
                                                <th class="border-top-0 text-left">Status</th>
                                                <th class="border-top-0 text-center">Action</th>
    
                                            </tr><!--end tr-->
                                        </thead>
                                        <tbody>
                                            <tr>  
                                                <td>Sick Leave</td> 
                                                <td> <span class="badge badge-soft-success">Paid</span></td>                                   
                                                <td class="text-center"> 8</td>
                                                <td class="text-center">
                                                    <div class="">
                                                    <input type="checkbox" id="switch" class="d-none"/>
                                                    <label for="switch" class="hafday">Toggle</label>
                                                </div>
                                            </td>
                                                <td class="text-center">
                                                    <button type="button" class="editdata pointer mr-2" data-bs-toggle="modal" data-bs-target="#requestleave" >
                                                        <i class="bi bi-pencil-square menu-icon"></i>
                                                    </button>
                                                    <button type="button" class="deltrash pointer" >
                                                        <i class="bi bi-trash menu-icon"></i>
                                                    </button>
                                                </td>
                                            </tr><!--end tr-->     
                                            <tr>                                                        
                                                <td>Casual Leave</td>                                   
                                                <td> <span class="badge badge-soft-success">Paid</span></td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">
                                                    <div class="">
                                                        <input type="checkbox" id="switch" class="d-none"/>
                                                        <label for="switch" class="hafday">Toggle</label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="editdata pointer mr-2" data-bs-toggle="modal" data-bs-target="#requestleave">
                                                        <i class="bi bi-pencil-square menu-icon"></i>
                                                    </button>
                                                    <button type="button" class="deltrash pointer" >
                                                        <i class="bi bi-trash menu-icon"></i>
                                                    </button>
                                                </td>
                                            </tr><!--end tr-->    
                                            <tr>                                                        
                                                <td>Annual Leave</td>                                   
                                                <td> <span class="badge badge-soft-success">Paid</span></td>
                                                <td class="text-center">0</td>
                                                <td class="text-center"><div class="">
                                                    <input type="checkbox" id="switch" class="d-none"/>
                                                    <label for="switch" class="hafday">Toggle</label>
                                                </div></td>
                                                <td class="text-center">
                                                    <button type="button" class="editdata pointer mr-2"data-bs-toggle="modal" data-bs-target="#requestleave" >
                                                        <i class="bi bi-pencil-square menu-icon"></i>
                                                    </button>
                                                    <button type="button" class="deltrash pointer" >
                                                        <i class="bi bi-trash menu-icon"></i>
                                                    </button>
                                                </td>
                                            </tr><!--end tr-->    
                                                                      
                                        </tbody>
                                    </table> <!--end table-->                                               
                                </div><!--end /div--> 
                            </div>
                        </div>
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                   
                </div> <!--end col--> 
                
                
            </div><!--end row-->

         </div>
    </div>
</div>
        

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalFullscreenSmLabel"> Add New Leave</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="">
             <p>Please fill out the following fields:</p>

             <form>
                <div class="mb-3">
                    <label class="mb-3"> Startig Date </label>
                    <div class="input-group" id="DateRange">
                        <input type="date" class="form-control" placeholder="Start" aria-label="StartDate">
                    </div> 
                </div>
                <div class="mb-3">
                    <label class="mb-3"> End Date (optional)</label>
                    <div class="input-group" id="DateRange">
                        <input type="date" class="form-control" placeholder="Start" aria-label="StartDate">
                    </div> 
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlSelect1" class="mb-3">Leave Type</label>
                    <select class="form-select" id="exampleFormControlSelect1">
                    <option>Leave Type</option>
                    <option>Sick Leave</option>
                    <option>Casual Leave</option>
                    <option>Annual Leave</option>
                    </select>
                </div>

                <div class="mb-3">

                    <label for="exampleFormControlSelect1" class="mb-3">Ha Day</label>
                    <input type="checkbox" id="switch" />
                    <label for="switch" class="hafday">Toggle</label>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlSelect1" class="mb-3">Select User to Request Leave From</label>
                    <select class="form-select" id="exampleFormControlSelect1">
                    <option>Select User to Request Leave From</option>
                    <option>Sick Leave</option>
                    <option>Casual Leave</option>
                    <option>Annual Leave</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="mb-3">Optional Notes</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>  
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="requestleave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalFullscreenSmLabel">Request a Leave</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="">

             <form>
                <div class="mb-3">
                    <label class="mb-3"> Leave Type </label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Leave Type" >
                    </div> 
                </div>
                <div class="mb-3">
                    <label class="mb-3"> Leave Entitled</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Leave Entitled" >
                    </div> 
                </div>

                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Paid</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Unpaid</label>
                    </div>
                </div>
               
            </form>  
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>